body {

    /*background:SomeKindOfBlue*/
    background: #79a6b6;
    font-family: Source, Helvetica, sans-pro;
    
}

div.side-by-side {

    display: flex;
    
}

nav {

    background-color:grey;
    line-height:5em;
    
}

li {
    height:1.5em;
}

section.gallery {

    background:bisque;
    line-height:1.5em;
    margin-left: 5em;
    
}

section.flex {
    
    display:flex;
    background-color:grey;
    
}

figure.photo {
    
    background-color:lavender;
    flex:2

}

figure.widephoto { 

    background-color:lavender;
    margin-left:3em;
    flex:3
}

figure.photobird { 

    margin-left:3em;
    flex:3
}

img {

    width:25vw;
    
}





